
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Golos+Text:wght@700&family=Kanit:wght@300&family=Lilita+One&family=Orbitron:wght@600&display=swap');

header {
    background-color: transparent;
}

.navbar-brand {
    font-family: Orbitron;
}

span {
    color: rgb(132 204 22);
    margin: 0.5rem;
}

svg {
    width: 2rem;
    transition: all 0.3s;
}

svg:hover {
    transform: scale(2);
}