
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Golos+Text:wght@700&family=Kanit:wght@300&family=Lilita+One&family=Orbitron:wght@600&display=swap');

body {
    background: radial-gradient(79.43% 251.58% at 23.18% 73.07%,#0142a0 0,#0f133a 44.41%,#101034 56.43%,#141034 69.58%,#301436 100%,#411958 0);
    background-attachment: fixed;
}

p {
    background-color:  rgb(132 204 22);
    color: white;
    padding: 1rem;
}

img {
    border-radius: 50%/60% 60% 40% 40%;
}

.skills {
    text-align: center;
    color: white;
}

.card {
    background-color: rgb(132 204 22);
}