
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Golos+Text:wght@700&family=Kanit:wght@300&family=Lilita+One&family=Orbitron:wght@600&display=swap');

body {
    background: radial-gradient(79.43% 251.58% at 23.18% 73.07%,#0142a0 0,#0f133a 44.41%,#101034 56.43%,#141034 69.58%,#301436 100%,#411958 0);
    background-attachment: fixed;
    cursor: url("/assets/img/cursor.svg"), auto;
}

section {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

svg {
    cursor: url("/assets/img/pointer.svg"), auto;
}

p {
    background-color:  rgb(132 204 22);
    color: white;
    padding: 1rem;
    font-family: Fredoka One;
}

span {
    font-family: Lilita One;
}

#perfilPhoto {
    border-radius: 50%/60% 60% 40% 40%;
}

/************************ Tooling Section **********************/

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(5rem, 20rem));
    grid-template-rows: repeat(2, 1fr);
    gap: 4em;
}

.item {
    background: rgb(132 204 22);
    padding: 1em;
    text-align: center;
}

/*********************** Soft skills Section ************************/

.soft-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 25rem));
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

/***********************  ************************/

h1 {
    color: white;
    font-family: Orbitron;
    text-align: center;
}

#uno {
    font-family: Fredoka One;
}

#dos {
    font-family: Golos Text;
}

#tres {
    font-family: Kanit;
}

#cuatro {
    font-family: Lilita One;
}

#cinco {
    font-family: Orbitron;
}

footer {
    background-color: rgb(132 204 22);
}

h4 {
    font-family: Fredoka One;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* h1 {
    color: #404040;
    font-size: 1.25rem;
    letter-spacing: 4px;
    text-transform: uppercase;
} */