<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body bg-theme">
                    <p>These are some of the projects I have worked on as a freelancer, I try to explain a little about each project.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card project">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a target="_blank" href="/assets/img/mseProject.png">
                                <img class="imgProject" src="/assets/img/mseProject.png" alt="">
                            </a>
                        </div>
                        <div class="col">
                            <a target="_blank" href="/assets/img/loginMse.png">
                                <img class="imgProject" src="/assets/img/loginMse.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="card-title bg-theme">
                        <h4 class="text-center">Manageable warehouse</h4>
                    </div>
                    <div class="body">
                        <span class="text-justify">
                            It is a project for the company MSE Telecommunications, 
                            in which the main need was a web application with which 
                            they could manage their warehouse. Functionalities such 
                            as user roles, generating reports, inputs and outputs of 
                            material and tools were added.
                        </span>
                    </div>
                    <div class="card-footer">
                        <span>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    HTML5
                                </li>
                                <li class="list-group-item">
                                    CSS
                                </li>
                                <li class="list-group-item">
                                    Bootstrap 5
                                </li>
                                <li class="list-group-item">
                                    Angular
                                </li>
                                <li class="list-group-item">
                                    Node JS
                                </li>
                            </ul>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    MySQL
                                </li>
                                <li class="list-group-item">
                                    Express JS
                                </li>
                                <li class="list-group-item">
                                    Sequelize
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card project">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a target="_blank" href="/assets/img/loginAy.png">
                                <img class="imgProject" src="/assets/img/loginAy.png" alt="">
                            </a>
                            </div>
                        <div class="col">
                            <a target="_blank" href="/assets/img/formAy.png">
                                <img class="imgProject" src="/assets/img/formAy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="card-title bg-theme">
                        <h4 class="text-center">¡Ay Van!</h4>
                    </div>
                    <div class="body">
                        <span class="text-justify">
                            It is a project developed for a company that is dedicated
                            to making trips in urbans. This project allows the company
                            to publish the trips, informing in cards, cost, destination,
                            time and date of departure, of each trip. In the same way,
                            it allows the user to make the purchase of his ticket through
                             paypal, debit or credit card.
                        </span>
                    </div>
                    <div class="card-footer">
                        <span>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    HTML5
                                </li>
                                <li class="list-group-item">
                                    CSS
                                </li>
                                <li class="list-group-item">
                                    Bootstrap 5
                                </li>
                                <li class="list-group-item">
                                    Angular
                                </li>
                                <li class="list-group-item">
                                    Node JS
                                </li>
                            </ul>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    MySQL
                                </li>
                                <li class="list-group-item">
                                    Express JS
                                </li>
                                <li class="list-group-item">
                                    Sequelize
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body bg-theme">
                    <p>These are projects that I carry out for companies with which I was an intern.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card project">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a target="_blank" href="/assets/img/cedart.png">
                                <img class="imgProject" src="/assets/img/cedart.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="card-title bg-theme">
                        <h4 class="text-center">Modules</h4>
                    </div>
                    <div class="card-body">
                        <span class="text-justify">
                            This is a project that I developed as an intern for the cedart institute, 
                            this art school already had an app, my job was to create modules that the 
                            school control area needed, I was also in charge of correcting some bugs 
                            that were there.
                        </span>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                HTML5
                            </li>
                            <li class="list-group-item">
                                CSS
                            </li>
                            <li class="list-group-item">
                                JavaScript
                            </li>
                            <li class="list-group-item">
                                Bootstrap 5
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                Laravel
                            </li>
                            <li class="list-group-item">
                                Composer
                            </li>
                            <li class="list-group-item">
                                MySQL
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card project">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a target="_blank" href="/assets/img/homeEmed.png">
                                <img class="imgProject" src="/assets/img/homeEmed.png" alt="">
                            </a>
                        </div>
                        <div class="col">
                            <a target="_blank" href="/assets/img/adminEmed.png">
                                <img class="imgProject" src="/assets/img/adminEmed.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="card-title bg-theme">
                        <h4 class="text-center">Website and blog</h4>
                    </div>
                    <div class="card-body">
                        <span class="text-justify">
                            This is a project that I developed as an intern for the company Emed, 
                            it is a website with a blog which can be managed by a user with the 
                            role of administrator. It was totally a challenge in which I learned a 
                            lot because I created it from scratch.
                        </span>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                HTML5
                            </li>
                            <li class="list-group-item">
                                Tailwind CSS
                            </li>
                            <li class="list-group-item">
                                Alpine JS
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                Laravel Jetstream
                            </li>
                            <li class="list-group-item">
                                Composer
                            </li>
                            <li class="list-group-item">
                                MySQL
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>