.navbar a {
    font-family: JetBrains;
    color: white;
    text-decoration: none;
    transition: all 1.5s;
    cursor: pointer;
}
  
.navbar a:hover {
    /* -webkit-box-reflect: below; */
    box-shadow: 200px 0 rgba(255,255,255,.2) inset;
}
