<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card">
                <img src="/assets/img/weather.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Weather API</h5>
                    <p class="card-text">This is an API that shows the real-time weather status of any city in the world.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button routerLink="/weather" class="button" type="button">Show me</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card">
                <img src="/assets/img/bartender.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cocktail API</h5>
                    <p class="card-text">This is an API that shows how to prepare different drinks.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button routerLink="/cocktail" class="button" type="button">Show me</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card">
                <img src="/assets/img/films.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Films API</h5>
                    <p class="card-text">This is an API that shows how to prepare different drinks.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button routerLink="/films" class="button" type="button">Show me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>