<main>
    <div class="card">
        <div class="card-body">
            <h1>Contact Form</h1>
            <!-- modify this form HTML and place wherever you want your form -->
            <form action="https://formspree.io/f/xbjbvkzl" method="POST">
                <div class="mb-3">
                    <label>Name</label><br>
                    <input class="rounded" type="text" name="name" placeholder="Full name">
                </div>
                <div class="mb-3">
                    <label>Email address</label><br>
                    <input class="rounded" type="email" name="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label>Phone</label><br>
                    <input class="rounded" type="number" name="phone" placeholder="9876543210">
                </div>
                <div class="mb-3">
                    <label>Write your message here</label><br>
                    <textarea class="rounded" name="message" rows="3"></textarea>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</main>