
* {
    font-family: Orbitron;
    color: #3dfcd2;
}

h1, h5 {
    font-weight: bold;
    margin-top: 10%;
}

img {
    display: block;
    margin: auto;
}

.card {
    background-color: black;
    color: #3dfcd2;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.card-img {
    padding-left: 200px;
    margin-top: 50px;
}

.button {
    background-color: blue;
    color: #fff;
    height: 40px;
}

.button:hover {
    background-color: rgb(1, 105, 165);
}

a {
    text-decoration: none;
}