<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12">
            <img id="felixPhotoAbout" src="/assets/img/felix_2.png" alt="">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1 class="text-justify">Know a little more about me...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="rectangle bg-1 imgCenter pt-2">
                <img class="photoEggs" src="/assets/img/JF.jpg" alt="">
                <div class="overlay text-justify">
                    I am the father of an amazing boy named Jefté. 
                    This new stage in my life has become quite an adventure, 
                    full of changes and challenges.
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="rectangle bg-2 imgCenter pt-2">
                <img class="photoEggs" src="/assets/img/friends.jpeg">
                <div class="overlay text-justify">
                    I really enjoy spending time with my family and friends, 
                    We have things in common, but where we are different, 
                    I like them more.
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="rectangle bg-3 imgCenter pt-2">
                <img class="photoEggs" src="/assets/img/musicComedy.png">
                <div class="overlay text-justify">
                    I enjoy music and comedy, 
                    I seem like a serious person, 
                    but actually sometimes I even talk or laugh to myself.
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="rectangle bg-4 imgCenter pt-2">
                <img class="photoEggs" src="/assets/img/autodidacta.jpg">
                <div class="overlay text-justify">
                    I consider myself self-taught, 
                    part of my free time I am studying, 
                    and trying to improve. I love programming!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>